body {
  padding: 0px;
  margin: 0px;
}

a h1 {
  color: #FFF;
  padding: 1em 2em .5em 2em;
}

.page a.logo {
  background: transparent;
}

h3 {
  font-size: 30pt;
}


.page {
  width: 60em;
  margin: 0px auto;
  font-family: 'Helvetica', 'arial', 'sans-serif';
  color: #FFF;
  background: rgb(120,100,220);
  background: rgba(120,100,220, .5);
}

.page a {
  color: #3AD;
  background: #213;
  padding: .25em;
  text-decoration: none;
}

.page > p {
  padding: 2em 4em 1em 4em;
}

.hidden {
  display: none;
}

.content {
  padding: 4em;
}

.marquisItem {
  height: 20em;
  width: 60em;
}

.marquisContent {
  padding: 2em 4em;
  height: 16em;
  background: rgb(99,73,112);
  background: rgba(99,73,112, .4);
}

.marquisContent p {
  font-size: 15pt;
  margin-bottom: 2em;
}

a.button {
  font-size: 15pt;
  background: #213;
  padding: .75em;
}

.list {
  padding: 2em 2em;
  background: rgb(99,73,112);
  background: rgba(99,73,112, .4);
  float: left;
  width: 20em;
  margin-top: 3em;
  margin-left: 4em;
  margin-bottom: 1em;
}

.list.right {
  float: right;
  margin-right: 4em;
}

.list ul {
  margin-left: 0em;
  padding: 0em;
  list-style-type: none;
}

.list li {
  margin-top: 1em;
  text-decoration: none;
}

#headerLinks {
  float: right;
  margin-top: -5em;
  margin-right: 2em;
}

#headerLinks > a {
  margin-right: 1em;
  background: transparent;
  color: #FFF;
}

#footer {
  clear: both;
  margin-top: 2em;
  padding: 2em 4em;
  background: rgb(99,73,112);
  background: rgba(99,73,112, .4);
}

#footer > p {
  line-height: 2em;
}